<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Financial Data Automation Suite">

    <listeners>
        <listener class-name="com.financial.automation.listeners.ExtentReportListener"/>
    </listeners>

    <test name="Financial Data Tests">

        <packages>
            <package name="com.financial.automation.tests.data_test.file"/>

            <package name="com.financial.automation.tests.data_test.instrument"/>

            <package name="com.financial.automation.tests.data_test.position"/>

            <package name="com.financial.automation.tests.data_test.integrity"/>

            <package name="com.financial.automation.tests.data_test.transformation"/>

            <package name="com.financial.automation.tests.data_test.output"/>

            <package name="com.financial.automation.tests.data_test.endtoend"/>

            <package name="com.financial.automation.tests.data_test.unit"/>
            <package name="com.financial.automation.tests.api_test"/>
            <package name="com.financial.automation.tests.ui_test"/>
        </packages>

    </test>

</suite>