<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Financial Data Automation Suite">

    <listeners>
        <listener class-name="com.financial.automation.listeners.ExtentReportListener"/>
    </listeners>

    <test name="Financial Data Tests">

        <packages>
            <package name="com.financial.automation.tests"/>
        </packages>

    </test>

</suite>